@model IEnumerable<TrainApp.Models.WeightExercise>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", @style = "background-color:black; margin-top:1em;"})

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Set)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Set)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

